:root{
    --black:rgba(31,31,31,1);
    --blue:rgba(58,109,231,1);
    --light-grey:rgba(190,188,187,1);
    --dark-blue:rgba(22,28,59,1);
    --red:rgba(205,61,15,1);
    --lavish-white:rgba(217,218,220,1);
    --gray:#727272;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.mybg-black{
    background-color: var(--black);
}
.mybg-lavish{
    background-color: var(--lavish-white);
}
.myccgray{
    color: var(--gray);
}
.mycc-blu{
    color:var(--blue);
}
.mybg-orange{
    background-color: #CD3D0F;
}
.mybg-gray{
    background-color: #363636;
}
.mybg-light-grey{
    background-color: var(--light-grey);
}

.mybg-dark-blue{
    background-color: var(--dark-blue);
}

.mybg-blue{
    background-color: var(--blue);
}
img{
    width: 100%;
    max-width: 100%;
}
/* header */
header img{
    width: 80px;
    padding: 10px 0;
}
header li{
    padding-left: 1rem;
}
/* nav */
.logo{
    width: 100%;
    max-width: 100%;
}
.navbar{
    --bs-navbar-padding-x:1;
}
/* main */
/* hero */
#hero{
    background-image: url("../img/jumbo-bg.png");
    width: 100%;
    height: 675px;
}
#hero img{
    width: 20%;
}
/* caruosel */
.giochi img{
    border-radius: 20px;
}
#caruosel span{
    font-size: 13px;
}
.tt{
    width: 55%;
}
.dd5{
    width: calc(100% / 5);
}
div.dd5 img{
    width: 50%;
    max-width: 50%;
}
div.dd5 p{
    padding-top: 0.5rem;
}
/* hero2 */
#hero2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#hero2 img{
    width:200px
     ;
}
/* nuove uscite */
#nuove-uscite img{
    border-radius: 20px;
}
/* esplora */
#esplora p{
 font-size: 20px;
}
/* playplus */
/* now */
/* social */
#social img{
    width: 100%;
}
.po{
    width: 13%;
}